  body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
  }

  h1 {
    margin: 0;
    font-family: 'Sacramento', cursive;
    font-size: 5.62rem;
    color: #66BFBF;
  }

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
  }

  h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
  }

  p {
    line-height: 2.0;
  }

  hr {
    border: 0;
    border-top: 5px dotted #eaf6f6;
    width: 5%;
    margin: 100px auto;
  }

  .top-container {
    background-color: #caf7e3;
    position: relative;
    padding-top: 200px;
    color: #66BFBF;
  }

  .top-cloud {
    height: 100px;
    width: 150px;
    position: absolute;
    top: 100px;
    margin-left: 150px;
  }

  .bottom-cloud {
    height: 100px;
    width: 150px;
    position: absolute;
    bottom: 300px;
  }

  .mountain {
    width: 600px;
    height: 300px;
    position: relative;
    margin-top: 100px;
    bottom: -3px;
  }

  .middle-container {
    margin-top: 50px;
  }

  .title {
    font-weight: normal;
  }

  .profile-picture {
    border-radius: 50%;
    width: 150px;
  }

  .intro {
    width: 30%;
    margin: auto;
  }

  .skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    overflow: auto;
  }

  .skill-picture1 {
    width: 25%;
    float: left;
    margin-right: 30px;
  }

  .skill-picture2 {
    width: 20%;
    float: right;
    margin-left: 30px;
  }

  .btn {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 10px;
    color: #FFFFFF;
    font-family:'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 100;
    padding: 10px;
    background-color: #66BFBF;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 50px;
  }

.btn:hover {
  border: solid #33EDEB 1px;
  background: #1ED0BA;
  background-image: -webkit-linear-gradient(top, #1ED0BA, #3DF6DE);
  background-image: -moz-linear-gradient(top, #1ED0BA, #3DF6DE);
  background-image: -ms-linear-gradient(top, #1ED0BA, #3DF6DE);
  background-image: -o-linear-gradient(top, #1ED0BA, #3DF6DE);
  background-image: -webkit-gradient(to  , #1ED0BA, #3DF6DE);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;
  text-decoration: none;
}
  .bottom-container {
    background-color: #66BFBF;
    padding: 40px;
  }

  .copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
  }

  .footer-link {
    color: #11999E;
    font-family:'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }

.footer-link:hover {
  color: #EAF6F6;
}
  .pro {
    text-decoration: underline;
  }
